body {
    font-family: "Raleway";
}
.container {
  padding: 20px 80px;
}

.order-card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.card-name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    
    
}

.name-content {
    margin-left: 30px;
}

.name-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.17;
}

.priority {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 152px;
}

/* .priority:nth-last-child() {
    margin-right: 0;
} */

.quantity {
    display: flex;
    justify-content: center;
    align-items: center;
}

.minus-m,
.plus-p {
    width: 21px;
    height: 21px;
    background: #EFEFEF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter {
    width: 20px 
}

.remover {
    display: flex;
    align-items: center;
    justify-content: center;
}

.remover:hover {
    cursor: pointer;
}

.color-selection {
    display: flex;
    margin-top: 40px;
}

.color {
    font-weight: 300;
    font-size: 12px;
    margin-right: 55px;
    margin-bottom: 10px;
}

.choice,
.size-option {
    font-weight: 600;
    font-size: 12px;
}

.size {
    font-weight: 300;
    font-size: 12px;
    margin-right: 47px;
}

.size-selection {
    display: flex;
}

.total {
    display: flex;
    padding-top: 20px;
    width: 305px;
    justify-content: space-between;
    border-top: 1px solid black;
}

.red-price,
.subtitle {
    font-weight: 700;
    font-size: 16px;
    
}
.red-price {
    color: #DA1F39;
}
.get-order {
    width: 252px;
    height: 50px;
    color: #ffffff;
    background: #DA1F39;
    font-weight: 600;
    font-size: 14px;
    padding: 17px 33px;
    border: none;
    cursor: pointer;
    
}

.get-order:hover {
    background: #ffffff;
    color: #DA1F39;
   
}

.continue {
    width: 252px;
    height: 50px;
    color: #000000;
    font-weight: 600;
    font-size: 14px;
    padding: 17px 33px;
    border: none;
    cursor: pointer;
    background: #ffffff;
}

.continue:hover {
    text-decoration: underline;
}

.purchase-buttons {
    justify-content: center;
    align-items: center;
}

.purchase {
    display: flex;
    justify-content: space-between;
    padding-bottom: 58px;
}

.return-choice {
    font-weight: 300;
    font-size: 12px;
}

.choice-par {
    width: 625px;
    padding-bottom: 174px;
}

@media screen and (min-width: 375px) and (max-width: 1065px) {
.order-card {
    flex-direction: column;
    flex-wrap: wrap;
}

.priority {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 52px;
}
.remover {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.purchase {
    flex-direction: column;
    flex-wrap: wrap;
}
.purchase-buttons {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice-par {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.container {
    padding: 30px 20px;
  }
}
    
